body {
    background: #F5F5F5;
    font-family: "Source Code Pro Medium";
}

#header {
    padding-top: 30%;
    background: rgba(5,8,240,0.84);

    background: -webkit-linear-gradient(to left, #007bff, #002752);
    background: url("../images/bg-pattern.png"), linear-gradient(to right, rgba(0,81,255,0.84), rgba(52,0,255,0.84));
    color: white;
}

#bash {
    background: rgba(0,3,40,0.84)

}

#bash h1 {
    color: white;
}

#navigation {
    background-color: rgba(255,255,255,0.8);
    color: black;
}

#skills {
    text-align: center;
    padding-top: 7vh;

}

.card-header {
    background: white;
}


.card-header a:hover {
    color: white;
}

.card-header:target {
    color: white;
}

.card-header:hover {
    background: rgba(0,3,40,0.84);
    color: white;
    transition-duration: 2s;
}

#exp h1 {
    padding-top: 5% ;
}

#exp img {
    text-align: center;
}

#skills {
    background: rgba(0,3,40,0.84);
    padding-bottom: 5%;
    text-justify: auto;
}

#skills h1 {
    color: white;
}


#navigation:hover {
    background-color: rgba(0, 3, 40, 0.84);
    transition-duration: 2s;
}

#navigation a {
    padding-left: 5em;
}


#exp {
    padding-bottom: 10%;
}

#contact {
    padding-top: 10%;
}

